<div class="blog--sidebar col-md-4">
    <!-- Blog Widget End -->
    <!-- Blog Widget Start -->
    <div class="blog--widget">
        <!-- Blog Links Widget Start -->
        <div class="blog--links-widget">
            <h3 class="blog--widget-title">Navigation</h3>

            <ul>
                <li><a href="/admin/home">Start</a></li>
                <li><a href="/admin/users">Users</a></li>
                <li><a href="/admin/tickets">Tickets</a></li>
                <li><a href="/admin/settings">Ustawienia</a></li>
            </ul>
        </div>
        <!-- Blog Links Widget End -->
    </div>
    <!-- Blog Widget End -->
</div>
<!-- Blog Sidebar End -->