<div class="blog--sidebar col-md-4">
    <!-- Blog Widget End -->
    <!-- Blog Widget Start -->
    <div class="blog--widget">
        <!-- Blog Links Widget Start -->
        <div class="blog--links-widget">
            <h3 class="blog--widget-title">Navigation</h3>

            <ul>
                <li><a href="/account/index">Start</a></li>
                <li><a href="/deposit">Deposit</a></li>
                <li><a href="/withdraw">Withdraw</a></li>
                <li><a href="/earnings">Earnings history</a></li>
                <li><a href="/refferals">Refferals</a></li>
                <li><a href="/account/profile">Profile</a></li>
                <li><a href="/account/logout">Logout</a></li>
            </ul>
        </div>
        <!-- Blog Links Widget End -->
    </div>
    <!-- Blog Widget End -->
</div>
<!-- Blog Sidebar End -->